<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIChat - Development.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AIChat - Mock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AIChat - Production.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Promises (Playground) 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>869B92AB2DEEF64000A9259D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869B92BA2DEEF64200A9259D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869B92C42DEEF64200A9259D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A637732D2F9B530087E26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A637832D2F9B550087E26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86A6378D2D2F9B550087E26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
